.formControl {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 60px 0;
}
input {
  height: 40px;
  border-radius: 7px;
  width: 50vw;
  outline: 1px solid blue;
  border: 0;
}
input:focus {
  outline: 1px solid blue;
  border: 0;
}
label {
  display: block;
  color: black;
  padding-bottom: 5px;
  text-align: center;
}
